.note-container{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: solid transparent;
    display: flex;
    width: 50%;
    margin: 0 auto;
    border-width: 1px 1px 1px 6px;
    justify-content: space-between;
    margin-top: 5vh;
   
}
.note-container input{
    outline: none;
    border: none;
    min-height: 40px;
    font-size: 14px;
}
.note-container.notes{
    flex-direction:column;


}
.note-container > .Bottom {
    margin:10px;
    justify-content: space-between;
    
}
    
   
