.container{
      display:flex;
      flex-direction:column;
      border: 1px solid transparent black;
      width:245px;
      height:180px;
      margin:50px;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      
  
  }
  .title{
  padding: 13px;
  }
  .description{
  padding: 13px;
  
  }
  .icons{
    padding-top: 20px;
  }